[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appwrite = "*"
meta_ai_api_tool_call = "*"
pydantic_ai = "*"
sanic = "*"

[dev-packages]

[requires]
python_version = "3.12"
